astroid==1.6.6
backports.entry-points-selectable==1.1.1
backports.functools-lru-cache==1.5
certifi==2021.10.8
configparser==3.8.1
contextlib2==0.6.0.post1
distlib==0.3.3
enum34==1.1.6
filelock==3.2.1
futures==3.3.0
importlib-metadata==2.1.2
importlib-resources==3.3.1
isort==4.3.21
lazy-object-proxy==1.4.2
mccabe==0.6.1
pathlib2==2.3.6
pipenv==2021.11.5
platformdirs==2.0.2
pylint==1.9.5
scandir==1.10.0
singledispatch==3.4.0.3
six==1.12.0
typing==3.10.0.0
virtualenv==20.10.0
virtualenv-clone==0.5.7
wrapt==1.11.2
zipp==1.2.0
